.details-bar{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 5px;
    gap: 5px;
    font-weight: 150px;
    font-size: 20px;
}

.window-pane{
    text-align: justify;
}

.imagen {
    display:flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;

}

.foto {
    width: 100%;
}